In [1]:
import requests
import yfinance as yf

import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# get company stock ticker

def getTicker(company_name):
    yfinance = "https://query2.finance.yahoo.com/v1/finance/search"
    user_agent = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36'
    params = {"q": company_name, "quotes_count": 1, "country": "United States"}

    res = requests.get(url=yfinance, params=params, headers={'User-Agent': user_agent})
    data = res.json()

    company_code = data['quotes'][0]['symbol']
    return company_code

In [3]:
# this is given by Professor
company_names = ["JPMorgan Chase & Co.", 
                 "Bank of America Corporation", 
                 "Citigroup Inc.",
                 "Wells Fargo & Company",
                 "The Toronto-Dominion Bank",
                 "UBS Group AG",
                 "Credit Suisse",
                 "BMO",
                 "NatWest Group plc",
                 "U.S. Bancorp",
                 "Truist Financial Corporation",
                 "The PNC Financial Services Group, Inc.",
                 "SVB",
                 "Signature Bank",
                 "First Republic Bank",
                 "M&T Bank Corporation",
                 "HDFC Bank Limited",
                 "Citizens Financial Group, Inc.",
                 "New York Community Bancorp",
                 "PacWest Bancorp"]

In [4]:
Symbol = [getTicker(name) for name in company_names]

In [6]:
Symbol

['JPM',
 'BAC',
 'C',
 'WFC',
 'TD.TO',
 'UBS',
 'USOI',
 'BMO',
 'NWG',
 'USB',
 'TFC',
 'PNC',
 'SIVBQ',
 'SBNY',
 'FRCB',
 'MTB',
 'HDB',
 'CFG',
 'NYCB',
 'PACW']

In [5]:

# Get the data for the stocklist
data = yf.download(Symbol,'2019-09-01','2020-12-31')

[*********************100%***********************]  20 of 20 completed

In [7]:
data

            Adj Close                                                          \
                  BAC        BMO          C        CFG        FRCB        HDB
Date
2019-09-03  24.599083  57.662560  55.306320  27.826578   86.101562  51.191498
2019-09-04  24.999218  57.985844  56.056301  28.131157   86.629547  51.352364
2019-09-05  25.740681  58.947166  57.852753  28.934908   87.675766  50.489506
2019-09-06  25.383675  59.474632  57.530087  28.884150   87.206459  50.850250
2019-09-09  26.207525  60.291325  59.989307  30.220900   89.073959  50.860001
...               ...        ...        ...        ...         ...        ...
2020-12-23  28.399292  68.559494  55.537098  32.005123  138.538681  67.342094
2020-12-24  28.314234  68.731552  55.345211  31.787891  138.607727  67.810089
2020-12-28  28.474899  68.740593  55.856907  31.778837  140.718430  68.833817
2020-12-29  28.361488  68.668159  55.655891  31.570663  140.452118  68.950813
2020-12-30  28.333136  68.577606  55.610199  32.041325  142.829178  70.198792

                                                        ...    Volume  \
                   JPM         MTB       NWG      NYCB  ...      PACW
Date                                                    ...
2019-09-03   96.795334  126.837135  3.734762  8.958488  ...  529000.0
2019-09-04   97.963394  127.715355  3.776633  9.052294  ...  490900.0
2019-09-05  100.192459  130.482864  3.935736  9.325896  ...  667300.0
2019-09-06  100.406456  129.897415  3.893867  9.490056  ...  635900.0
2019-09-09  102.894119  136.736435  4.011101  9.857464  ...  615400.0
...                ...         ...       ...       ...  ...       ...
2020-12-23  116.491623  116.422256  4.012715  8.830385  ...  767700.0
2020-12-24  115.979340  115.819801  3.994801  8.881428  ...  206900.0
2020-12-28  116.743103  116.505676  4.003757  8.915457  ...  829700.0
2020-12-29  116.435730  114.753914  3.914189  8.779343  ...  624700.0
2020-12-30  116.761726  116.450058  3.985845  8.915457  ...  514900.0

                                                                            \
                  PNC      SBNY     SIVBQ      TD.TO        TFC        UBS
Date
2019-09-03  2002900.0  401991.0  322083.0  2626600.0  6060000.0  2922500.0
2019-09-04  1662500.0  481364.0  294900.0  2895700.0  2745300.0  3372900.0
2019-09-05  1185300.0  556432.0  402563.0  3652300.0  3394200.0  3479200.0
2019-09-06  1357400.0  367138.0  332852.0  2056100.0  4551600.0  1358000.0
2019-09-09  2027800.0  529019.0  699357.0  3140000.0  4715800.0  4377300.0
...               ...       ...       ...        ...        ...        ...
2020-12-23  1317100.0  313043.0  299081.0  5364600.0  5170900.0  2181700.0
2020-12-24   518800.0  119915.0   75028.0  1253300.0  2276200.0   618500.0
2020-12-28  1686800.0  333543.0  229955.0        NaN  3532600.0  1380100.0
2020-12-29  1015400.0  325686.0  198654.0  4929100.0  2791900.0  1803700.0
2020-12-30  1002600.0  230380.0  181367.0  5056900.0  2931900.0  2088000.0


                  USB     USOI         WFC
Date
2019-09-03  4508900.0    415.0  17224200.0
2019-09-04  3031200.0    340.0  17123100.0
2019-09-05  4774500.0    310.0  19243400.0
2019-09-06  4991900.0    120.0  18846100.0
2019-09-09  5060800.0    200.0  27651400.0
...               ...      ...         ...
2020-12-23  6693000.0  11860.0  38383700.0
2020-12-24  1980900.0   3240.0  14443700.0
2020-12-28  4330800.0  22155.0  21658500.0
2020-12-29  4083400.0  26825.0  19584400.0
2020-12-30  3157400.0  15290.0  18519300.0

[341 rows x 120 columns]

In [13]:
"""
Can I use a for loop here to get stock price of all companies?
"""

df = pd.DataFrame
for s in Symbol: 
    # concat all the data in rows
    df = pd.concat([df,yf.download(s,'2019-09-01','2020-12-31')], ignore_index=True)

[*********************100%***********************]  1 of 1 completed

TypeError: '>' not supported between instances of 'int' and 'property'

In [8]:
# download stock price history for one company

userInput = Symbol[0]
# Get the data for the stocklist
user_data0 = yf.download(userInput,'2019-09-01','2020-12-31')

[*********************100%***********************]  1 of 1 completed

In [9]:
list(user_data0)

['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

In [10]:
Symbol[0]

'JPM'

In [11]:
data[list(user_data0)[0]].iloc[:,0]

Date
2019-09-03    27.209999
2019-09-04    27.320000
2019-09-05    27.850000
2019-09-06    28.020000
2019-09-09    28.000000
                ...
2020-12-23    29.389999
2020-12-24    30.270000
2020-12-28    30.230000
2020-12-29    30.170000
2020-12-30    30.000000
Name: BAC, Length: 341, dtype: float64

In [12]:
"""
when I test them independently, they worked fine, but once I put them in a for loop, there's a problem
"""

df = pd.DataFrame()
for i in list(len(Symbol)):
    for j in list(len(user_data0)):
        # concat two series in columns 
        df = pd.concat([data[list(user_data0)[j]].iloc[:,i], data[list(user_data0)[j]].iloc[:,i+20]], axis=1)

TypeError: 'int' object is not iterable